@import "abstracts/variables";

/* #link-wrapper {
} */

.link {
	margin-right: 15px;
	text-decoration: none;
	color: $links-primary;
}

.link2 {
	margin-right: 15px;
	color: $links-secondary;
}

.contact-links {
	padding: 5px;
	color: #b09ccb;
}

.send-email-link {
	color: #b09ccb;
}
