.project-header {
	font-size: $project-header;
	color: #454545;
}

.project-text {
	max-width: $project-text-width;
	font-size: $project-text-size;
	margin-bottom: 0;
}

.page-header {
	margin-bottom: 10px;
}
