////Color variables////

//Primary - colors
$color-primary: purple;
$primary-white: #fff;

//Link - colors
$links-primary: #fff;
$links-secondary: black;

//Text - colors
$project-header-primary: #454545;

//////////////////////////////////////

////Font size variables////

//Landing - Font size
$Header-size: 400%;

//Projects Page - Font size
$project-header: 200%;
$project-text-size: 100%;

//////////////////////////////////////

////text width variables////

//Projects Page - text width
/* $project-text-width: 400px; */

//////////////////////////////////////

////Image variables////
$logo-size: 80px;
