//Theme colors - light
$color-purple: #b09ccb;
$color-dark-gray: #454545;
$color-white: #fff;
$color-black: black;

//Theme font weight
$weight-light: 300;
$weight-medium: 400;

//Text
$header: $color-black;

//background
$body: $color-white;

//input focus
$input-focus: $color-purple;

//Link - colors
$links-primary: #fff;
$links-secondary: black;
