//Theme colors - light
$color-purple: #b09ccb;
$color-dark-gray: #454545;
$color-white: #fff;

//Text
$header: $color-dark-gray;

//background
$body: $color-white;

//Link - colors
$links-primary: #fff;
$links-secondary: black;
