.project-header-wrapper {
  height: 250px;
}

#paper-plane {
  width: 300px;
  height: 250px;
}

.form-container {
  margin-top: 100px;
  margin-bottom: -50px;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 600px;
}

.form-input {
  border: none;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  width: 350px;
  height: 35px;
}

.form textarea {
  margin-bottom: 20px;
  width: 350px;
  background-color: #f0f0f0;
  border: none;
  resize: none;
}

.form label {
  font-size: 12px;
  color: black;
}

.form input,
label,
textarea {
  display: block;
}

.form button {
  border: none;
  background-color: $input-focus;
  color: white;
  font-size: 12px;
  width: 80px;
}

/* input:focus {
	outline-width: 0.5px;
} */

input:focus {
  outline: none !important;
  border: 1px solid $input-focus;
  box-shadow: 0 0 5px $input-focus;
}

textarea:focus {
  outline: none !important;
  border: 1px solid $input-focus;
  box-shadow: 0 0 5px $input-focus;
}

.project-header-wrapper p {
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .form-input {
    width: 280px;
  }
}

@media only screen and (max-width: 400px) {
  .form-input {
    width: 280px;
  }
}

@media only screen and (max-width: 400px) {
  .form textarea {
    width: 280px;
  }
}
