body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#transition {
  margin: 0;
  align-self: flex-end;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 200px;
  /* background-color: aliceblue; */
}
