.project-header-wrapper {
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.line {
	width: 120px;
	height: 1px;
	color: black;
	background-color: black;
	border: none;
}
