.main-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-container {
  margin: 0;
  padding: 0 50px 50px 50px;
  background-size: cover;
  background-position: 10px -200px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  h1 {
    font-size: 1800%;
    margin: 0;
  }

  h2 {
    font-size: 300%;
    text-align: start;
    margin-left: 20px;
  }
}

.text {
  padding: 0 50px 50px 0px;
  /* display: flex;
  flex-direction: column; */
}
