.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-right: 5%;
  margin-left: 3%;
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

#logo {
  width: 45px;
  margin: 0;
}
