.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  margin-right: 5%;
  margin-left: 3%;
  font-weight: 400;
}

#link {
  color: #483667;
}

#logo {
  width: 55px;
  margin: 0;
}
