.form-container {
	justify-content: start;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 600px;
}

.form-input {
	border: none;
	margin-top: 30px;
	background-color: #f0f0f0;
}
