.contact-bg-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  a {
    margin: 0 0 10px 0;
    color: gray;
  }

  img {
    width: 20px;
  }
  .bg-container {
    margin: 0;
    padding: 0 50px 50px 50px;
    background-size: cover;
    background-position: 10px -200px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    h1 {
      font-size: 1000%;
      margin: 0;
      text-align: center;
    }

    h2 {
      font-size: 200%;
      text-align: start;
      text-align: center;
      /*  margin-left: 20px; */
    }
  }
}
